* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(243, 86, 29);
}

.container > * { 
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 2px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: all 150ms ease;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.flexflow {
    display: flex;
    border: 5px solid white;
    width: 300px;
    /* flex-wrap: wrap-reverse;
    flex-direction: row; */
    flex-flow: row wrap-reverse;
    /* mesma coisa  */
}

https://youtu.be/nPEGdEvGLSE?si=V1Z0KxGhvJwpV1sA